h2{
 text-decoration: line-through;
}
h3{
	text-decoration: underline;
}
@keyframes anim{
	from{background-color:#00FFFF;}
	to{color:#FFFFFF; background-color:#000000;}
}
h4{
	width: 120px;
	background-color: #00FFFF;
    animation-name: anim;
    animation-duration: 0.5s;
	animation-iteration-count: infinite;

}